@model GalicianWeatherForecast.Models.ListaDeCamaras
@{
    ViewBag.Title = "Camaras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Camaras</h2>

<!-- Search field -->
<div class="mb-3">
    <form method="get" action="@Url.Action("Camaras", "Observation")" class="d-flex">
        <input type="text" name="searchTerm" placeholder="Buscar por Concello" class="form-control me-2" style="font-size: 1.2rem; height: 50px;" />
        <button type="submit" class="btn btn-primary" style="height: 50px; font-size: 1.2rem;">Buscar</button>
    </form>
</div>

<p>Número de cámaras: @Model.ListaCamaras.Count</p>

<div class="row">
    @foreach (var camera in Model.ListaCamaras)
    {
        var fecha = DateTime.Parse(camera.DataUltimaAct);
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-3" style="width: 100%;">
                <img src="@camera.ImaxeCamara" class="card-img-top img-fluid" style="width: 100%;" alt="Imaxe cámara">
                <div class="card-body">
                    <h5 class="card-title">@camera.Concello - @camera.Provincia</h5>
                    <p class="card-text">Data última actualización: @fecha.ToString("dd/MM/yyyy")</p>
                    <a href="@Url.Action("Prediction", "Prediction", new { municipioId = camera.IdConcello }, null)" class="btn btn-primary">Ver predicción</a>
                </div>
            </div>
        </div>
    }
</div>