@model IEnumerable<DineFind.Models.Entities.Restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurants</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Cuisine</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Address</td>
                <td>@restaurant.Cuisine.Name</td>
                @*<td>@restaurant.AverageRating</td>*@
                <td>
                    @Html.ActionLink("Details", "Details", new { id = restaurant.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
